/*
 * //////////////////////////////////////////////////
 * General
 * //////////////////////////////////////////////////
 * 
 */

*{
	margin:0px;
	padding:0px;
}

a {text-decoration: none;}
a:link{color:#FFFFFF;} 
a:visited{color:#FFFFFF;} 
a:active{color:#FF9933;}
/*a:hover {text-decoration: underline;}*/

html {	
	font-family:Calibri, Verdana, Arial, sans-serif;
/* 	background-color:#000000; */
	
	background-color: rgb(11, 42, 81);
/* 	background-color: rgb(78, 100, 126); */
}

table,th,td {
	border: 5px solid #2A2A2A;
	border-collapse: collapse;
	padding:5px;
}

#wrap {
	color:#FFFFFF;
	width:800px;
	margin:0 auto;
	padding-bottom:40px;
}

#top, #main, #printcheck, .poi{
	border:6px solid #DDDDDD;
	background-color: rgb(78, 100, 126);
/* 	background-color: rgb(11, 42, 81); */
	
}
#warning, #main, #printcheck, #printbutton, .poi{margin-top:20px;}
#menu, #title, #menu li, #menu li a{height:70px;}

.h1{
	font-size: 2em;
}
.h2{
	font-size: 1.6em;
}
.h3{
	font-size: 1.3em;
}
.center{text-align:center}
.clear{clear:both;}
.print{display:none;}
.nolist{list-style:none;}
.nolist a {text-shadow: 0 1px 3px #000;}
.list{list-style:disc inside none;}
.left{float:left;}
.right{float:right;}
.half{width:48%;}
.tabletr{
	background-color:#2A2A2A;
	text-shadow: 1px 1px 1px #000;
	}
.video640{
	line-height:2;
	width:640px;
	margin:0 auto;
}

/*
 * //////////////////////////////////////////////////
 * JavaScript Warning
 * //////////////////////////////////////////////////
 */

#warning {
	color:#000000;
	background-color:white;
	text-align:center;
	font-weight:bold;
	padding:5px;
	border:7px solid red;
}


/*
 * //////////////////////////////////////////////////
 * Main Area with SVG-Map and Links
 * //////////////////////////////////////////////////
 *
 */

#main {
	position:relative;
	height: 410px;
}

#map{
	position:absolute;
	width: 788px;
	height: 410px;
}

#links {
	position:absolute;
	top:0px;
	left:558px;
	height:250px;
	width:200px;
	padding:140px 30px 20px 0px;
	font-size:21px;
	line-height:50px;
	text-align:right;
}

.jvectormap-zoomin, .jvectormap-zoomout {
	font-size:23px;
    position: absolute;
    -moz-border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
}

.jvectormap-zoomin {
    left: 10px;
    top: 10px;
}

.jvectormap-zoomout {
    left: 10px;
    top: 40px;
}

/*
 * //////////////////////////////////////////////////
 * Points of Interest
 * //////////////////////////////////////////////////
 */

.poi {
	position: relative;
    padding:20px;
	padding-left:30px;
}


/*
 * //////////////////////////////////////////////////
 * Top Area with Menu
 * //////////////////////////////////////////////////
 */

#top {
/* 	height:190px; */
	width:788px;
	border-top:0px;
}

#topimage {
/*	background-image: url(../data/gfx/menu_tu.jpg);*/ 
overflow:hidden;
}

#menu {
    list-style:none;
    margin:0 auto;
/*     background-image: url(../data/gfx/menu.png); */
}

#title {
	width:461px;
	padding-top:20px;
}

#home_link_bg{
	background-image: url(../data/gfx/home.png);
}
#print_link_bg{
	background-image: url(../data/gfx/printer.png);
}
#contact_link_bg{
	background-image: url(../data/gfx/phone.png);
}
     
#menu li {
	float:left;
	min-width:109px;
	position:relative;
	overflow:hidden;
}

#menu li a  {
	position:absolute;
	top:11px;
	/* text-indent:-999em; */
	background:url(../data/gfx/menu_button.png) no-repeat 0 0;
	display:block;
	width:109px;
	/* border:1px solid white; */
	/* background-color:rgb(78, 100, 126); */
}


/*
 * //////////////////////////////////////////////////
 * Print Ckeckboxes
 * //////////////////////////////////////////////////
 */

 #printcheck {
 	display:none;
	line-height:30px;
	font-size:17px;
	width:200px;
 }
 
#printcheckboxes{
 	margin:12px auto;
 	line-height:30px;
 	font-size:17px;
 	width:150px;
 }
 
 .button {
	cursor: pointer;
 	margin:0 auto;
 	margin-bottom:20px;
 	line-height:30px;
 	font-weight:bold;
 	text-align:center;
 	background-color:#FF9933;
 	color:#000000;
  	width:150px;
 }